.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links ul li {
  margin: 14px 0;
}

.link {
  padding: 14px;
  display: block;
  background-color: #68828b;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  transition: ease all 0.3s;
  color: #fff;
}
